body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mobileNav {
    position: absolute;
    right: 20px;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .mobileNav {
        position: absolute;
        right: 80px !important;
        top: 0;
        width: 195px;
        text-align: right;
    }

    .navbar-nav .open .dropdown-menu {
        text-align: right;
        border: 1px solid #efefef;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:active,
    .navbar-default .navbar-nav > .open > a:focus {
        background: none;
    }
}

.btnSqr {
    width: 50%;
    float: left;
    border-radius: 0;
    background-color: #efe;
}

@media only screen and (max-width: 768px) {
    .mobileNav {
        position: absolute;
        right: 80px !important;
        top: 0;
        width: 195px;
        text-align: right;
    }

    .navbar-nav .open .dropdown-menu {
        text-align: right;
        border: 1px solid #efefef;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:active,
    .navbar-default .navbar-nav > .open > a:focus {
        background: none;
    }
}


/* navbar */
.navbar-default {
    background-color: #5CB85C;
    border-color: #4CA84C;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFF;
}

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #EEFFEE;
    }
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #4CA84C;
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #4CA84C;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #4CA84C;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #ddd;
}
/* mobile version */
.navbar-default .navbar-toggle {
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.round-btn
{
    position: absolute;
    top: 0;
    text-align: right;
    right:10px;
    margin:12px 0 0 14px;
    background-color:transparent;
}
.round-btn button 
{
    border-radius: 100px;
}
@media (max-width: 767px) {
     .mobile-text
     {
         font-size:15px;
     }
     .round-btn
     {
         position: absolute;
         margin:10px 0 0 54px;
     }
    .navbar-brand
    {
        display:none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #777;
    }
}
.navbar-collapse 
{
    text-align:center;
}

.slideInUp
{
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInUp 
{
    0% 
    {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% 
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideInUp 
{
    0% 
    {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
} 
.slideOutDown 
{
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideOutDown 
{
    0% 
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100%
    {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
@keyframes slideOutDown 
{
    0% 
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% 
    {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
} 