body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mobileNav 
{
	position: absolute;
	right: 20px;
	top: 0px;
}
@media only screen and (max-width: 768px) 
{
	.mobileNav {
		position: absolute;
		right: 80px !important;
		top: 0;
		width: 195px;
    text-align: right;
	}
	.navbar-nav .open .dropdown-menu {
		text-align: right;
		border: 1px solid #efefef;
  	margin-top: 2px;
	}
	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:hover, 
	.navbar-default .navbar-nav>.open>a:active,
	.navbar-default .navbar-nav>.open>a:focus {
		background:none;
	}
}
.btnSqr
{
    width:50%; float:left;
    border-radius:0;
    background-color:#eee;
}