@model Financial_Management_Application.Models.ProductVM.IndexViewModel
@{
    ViewBag.Title = "EditProduct";
}

<h2>Product</h2>
    @Ajax.ActionLink("DF", "RowEditPartial",new { rowModel = 4 }, new AjaxOptions { UpdateTargetId = "partialProductContents1", HttpMethod = "Post", InsertionMode = InsertionMode.Replace })
    <div class="container">
        <div id="partialProductContents1">
        </div>
    </div>
    
    @section scripts{
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    }
