@model Financial_Management_Application.Models.ProductVM.CategoryCreateViewModel

@using (Ajax.BeginForm("CategoryCreatePartial", "Product", new AjaxOptions { HttpMethod = "POST" }, new { @class = "form-horizontal", role = "form" }))
{
    <label style="color:greenyellow">@ViewBag.StatusMessage</label>
    <div class="form-group">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.category.name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save Category" />
        </div>
    </div>
}

