@model Financial_Management_Application.Models.TransactionVM.IndexViewModel
@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>

        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.)
        {
            //using (Html.BeginForm("Notify", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            //{
            <tr>
                <td>@item</td>
                <td>@item.Product.name</td>
                <td>@item.quantity</td>

            </tr>
            //}
        }*@
    </tbody>
</table>
