
@{
    ViewBag.Title = "RegisterRequestCompletion";
}

<h2>RegisterRequestCompletion</h2>
<hr/>

<p>User has completed registration form please wait for administration to process your request. You will recieve an email when your request has been processed.</p>

